/* -- size -- */
:root {
	/* global */
	--font-size-h: 2.2rem;
	--font-size-l: 1.2rem;
	--font-size-n: 1rem;
	--font-size-s: 0.8rem;

	/* head */
	--header-item-height: 2rem;
	--header-svg-height: 24px;
	--search-input-max-size: 400px;
	--header-height: 3.8em;
}

/* -- color -- */
:root, :root.light {
	/* global */
	--text-color: #242424;
	--background: #f3f3f3;
	--h-color: #008080;

	/* head */
	--header-background: #00808080;
	--search-container-background: #e8e8e8;
	--search-input-background: #ffffff50;
	--search-input-text-color: #0d0f1d;
	--search-input-focus-background: #ffffff;
	--search-input-focus-border: #008080;
	--search-item-focus-background: #008080;
	--svg-focus-background: #008080;

	/* view */
	--view-title-text-color: #cc2127;

	/* markdown */
	--md-link-color: #008080;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		/* global */
		--text-color: #ebebeb;
		--background: #313131;
		--h-color: #65a7a7;

		/* head */
		--header-background: #5cbdbd80;
		--search-container-background: #4d4d4d;
		--search-input-background: #24242450;
		--search-input-text-color: #fbfcff;
		--search-input-focus-background: #2b2b2b;
		--search-input-focus-border: #c1fcfc;
		--search-item-focus-background: #65a7a7;
		--svg-focus-background: #65a7a7;

		/* view */
		--view-title-text-color: #d8464b;

		/* markdown */
		--md-link-color: #65a7a7;
		--md-link-color: #008080;
	}
}

:root.dark {
	/* global */
	--text-color: #ebebeb;
	--background: #313131;
	--h-color: #65a7a7;

	/* head */
	--header-background: #5cbdbd80;
	--search-container-background: #4d4d4d;
	--search-input-background: #24242450;
	--search-input-text-color: #fbfcff;
	--search-input-focus-background: #2b2b2b;
	--search-input-focus-border: #c1fcfc;
	--search-item-focus-background: #65a7a7;
	--svg-focus-background: #65a7a7;

	/* view */
	--view-title-text-color: #d8464b;

	/* markdown */
	--md-link-color: #65a7a7;
}

.font-mono {
	font-family: monospace;
}
